@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.oswald400{
 font-family: 'Oswald', sans-serif;
 font-size: 0.5cm;
}
.oswald500{
  font-family: 'Oswald', sans-serif;
 font-size: 1cm;
}
.boton{
background-color:#EF9B16 ;
text-decoration: none;
padding: 0.5rem;
color: white;
border: 1px solid black;
margin: 20px 10px 2px 0px;
}
.botonBorrar{
  background-color: #c0050b;
text-decoration: none;
padding: 0.5rem;
color: white;
border: 1px solid black;
margin: 20px 0px 2px 0px;
}

* {
  margin: 0;
  padding: 0;
}
.fondoNegro{
  background-color: #24262B;
}
.fondoRojo{
  background-color: #c0050b;
}
.fondoBlanco{
  background-color: #f2efe8;
}
.textoBlanco{
  color: #f2efe8;
}
.textoRojo{
  color: #c0050b;
}
.bordeCajaRojo{
  border: 2px solid #c0050b;
  padding: 5px;
}

.fondoNaranja{
  background-color: #EF9B16;
}

.columna{
  flex-direction: column;
}

.tamañoBandera{
  width: 25%;
}