*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color:  #c0050b; */
    background-color: #E9E4DE;
    font-family: 'Oswald', sans-serif;
}
.mainSection{
    flex-grow: 1;
}


.bgColor{
    background-color:  #c0050b;  
    border: none;
}

.textLogin{
    color: white;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 2px;
}
.textUser{
    color:  #c0050b;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 1px;
}

.textFuncionesLogin{
    color:  #c0050b;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    transition: 0.05s;
    border: none;
    outline:none;
}
.textFuncionesLogin:hover{
    color:  #c0050b;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    border: none;
    outline:none;
}

.textFuncionesLogin:focus{
    color:  #000;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    border: none;
    outline:none;
}
.bgRayas {
    background: -moz-repeating-linear-gradient(135deg, #ffffff,  #c0050b 0.5px);
    background: -webkit-repeating-linear-gradient(135deg, #ffffff,  #c0050b 0.5px);
    border: none;
    }

.rayasUser{
    border: 0 1px 0 0 solid  #c0050b
}
.borderNone{
    border: none;
    outline:none;
}

.hrUser{
    color:  #c0050b ;
    border: 1px solid  #c0050b ;
}

.btnEntrar{
    color: white;
    background-color:  #c0050b;
    padding: 10px;
    border: 3px solid white;
    outline: 3px solid  #c0050b;
    width: 9rem;
    height: 3rem;
}
.btnEntrar:hover{
    color: #c0050b;
    background-color:  #fff;
    padding: 10px;
    border: 3px solid #c0050b   ;
    outline: 3px solid  #fff;
    width: 9rem;
    height: 3rem;
}


.textPedidos{
    color:  #c0050b;
    letter-spacing: 1.8px;
    font-weight: 300;
    font-size: 1.6rem;
}
.textForm{
    color:  #c0050b;
    letter-spacing: 1.8px;
    font-weight: 400;
}

.textPass{
    width: 30%;
    color:  #c0050b;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    left: 70%;
}

.borderInput{
    border-color: #c0050b;
    margin-top: 3px;
    height: 3.2rem;
}

.borderInput:focus{
    box-shadow: none;
    border-color: #000;
}
