* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* #root{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  
      background-color: #E9E4DE;
      font-family: 'Oswald', sans-serif;
  } */
  
  main {
    background: #f2efe8;
  }
  
  #btnCarrito {
    background: #c0050b;
    border: 1px solid #dddddd44;
    border-radius: 10%;
    padding: 7px 14px;
    color: #fafafadd;
    position: relative;
    margin-right: 2vw;
  }
  
  #listaCarrito {
    height: 100vh;
    width: 45vw;
    background: #fafafa;
    border-left: 3px solid #c0050b;
    padding: 2vh 2.5vw 0 2vw;
  }
  .listaCarrito__items {
    height: 65vh;
    overflow-y: scroll;
  }
  .listaCarrito__cerrar {
    background: #fafafa;
    font-size: 1.8rem;
    position: sticky;
    top: 0;
    left: 0;
    border: 1px solid #444;
    border-radius: 10%;
    padding: 0 4px;
  }
  
  .itemCarrito {
    border-bottom: 1px solid #c0050b;
    height: 25vh;
  }
  
  .btnFlechaCarrito {
    background: #fafafa;
    border-radius: 10%;
  }
  .btnFlechaCarrito:hover {
    background: #f0f0f0;
  }
  
  .itemCarrito__img {
    /* height: 100%; */
    width: 100%;
    object-fit: contain;
  }
  
  .btnEliminarCarrito {
    background: #fafafa;
    color: #c0050b;
    border: none;
    font-size: 1.5rem;
  }
  .btnEliminarCarrito:hover {
    color: #b0040a;
  }
  
  .listaCarrito__btn {
    color: white;
    background-color: #ef9b16;
    width: 50%;
    padding: 5px 2px;
    border: 3px solid white;
    outline: 3px solid #ef9b16;
    --bs-btn-active-bg: #ef9b16;
    --bs-btn-active-border-color: #ef9b16;
  }
  .listaCarrito__btn:hover {
    color: #ef9b16;
    background-color: #fff;
    border: 3px solid #ef9b16;
    outline: 3px solid #fff;
  }
  
  /* Pagina principal */
  #bannerImg {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: 0 42%;
    margin-bottom: 2.5vh;
  }
  
  /* Titulo para categoria */
  .pagPrincipal__titulo {
    margin-bottom: 5vh;
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
  }
  .pagPrincipal__titulo:before,
  .pagPrincipal__titulo:after {
    background-color: #c0050b;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%;
  }
  .pagPrincipal__titulo:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .pagPrincipal__titulo:after {
    left: 0.5em;
    margin-right: -50%;
  }
  
  /* Seccion del menu */
  .cardContainer {
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .cardMenu {
    width: calc(97% / 3);
    margin-bottom: 2vh;
    border: 1.5px solid #c0050b;
  }
  .cardMenu__nombre {
    background: -moz-repeating-linear-gradient(135deg, #ffffff, #c0050baa 0.5px);
    background: -webkit-repeating-linear-gradient(
      135deg,
      #ffffff,
      #c0050baa 0.5px
    );
    display: block;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #c0050b;
    text-shadow: #f2f2f2 2px 0px 0px, #f2f2f2 1.75517px 0.958851px 0px,
      #f2f2f2 1.0806px 1.68294px 0px, #f2f2f2 0.141474px 1.99499px 0px,
      #f2f2f2 -0.832294px 1.81859px 0px, #f2f2f2 -1.60229px 1.19694px 0px,
      #f2f2f2 -1.97999px 0.28224px 0px, #f2f2f2 -1.87291px -0.701566px 0px,
      #f2f2f2 -1.30729px -1.51361px 0px, #f2f2f2 -0.421592px -1.95506px 0px,
      #f2f2f2 0.567324px -1.91785px 0px, #f2f2f2 1.41734px -1.41108px 0px,
      #f2f2f2 1.92034px -0.558831px 0px;
  }
  
  
  
  .cardMenu__nombre:hover {
    color: #c0050b;
    background: -moz-repeating-linear-gradient(135deg, #ffffff, #c0050baa 0.5px);
    background: -webkit-repeating-linear-gradient(
      135deg,
      #ffffff,
      #c0050baa 0.5px
    );
    animation-name: movimiento;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  /* Animacion que posee el nombre de cada producto */
  @keyframes movimiento {
    0% {
      background-position: 0rem -3.5rem;
    }
    100% {
      background-position: 10rem -3.5rem;
    }
  }
  
  .cardMenu__descContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 0.7em;
    height: 27vh;
  }
  
  .cardMenu__desc {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cardMenu__precio {
    font-size: 2.3rem;
    font-weight: bolder;
    color: #444;
  }
  
  .cardMenu__btn {
    font-size: 0.9rem;
    color: white;
    background-color: #ef9b16;
    width: 100%;
    padding: 5px 2px;
    margin: 20% 0;
    border: 2px solid white;
    outline: 2px solid #ef9b16;
    --bs-btn-active-bg: #ef9b16;
    --bs-btn-active-border-color: #ef9b16;
  }
  .cardMenu__btn:hover {
    color: #ef9b16;
    background-color: #fff;
    border: 3px solid #ef9b16;
    outline: 3px solid #fff;
  }
  
  .cardMenu__btnAgregado {
    font-size: 0.9rem;
    color: white;
    background-color: #c0050b !important;
    width: 100%;
    padding: 5px 2px;
    margin: 20% 0;
    border: 3px solid white !important;
    outline: 3px solid #c0050b;
  }
  
  .cardMenu__imgContainer {
    align-self: center;
    width: 64%;
  }
  .bebidas {
    width: 28%;
  }
  
  /* Pop up */
  #popUp {
    width: 40vw;
    position: fixed;
    bottom: 0;
    right: 2vw;
    border: 1px #c0050b solid;
    background: #f2f2f2;
  }
  
  #popUp__cerrar {
    display: inline;
    position: absolute;
    right: 1%;
    top: 0;
    text-align: center;
    color: #000;
    font-size: 1.8rem;
  }
  #popUp__cerrar:hover {
    cursor: pointer;
  }
  .popUp__img {
    width: 15%;
  }
  
  .mainSection {
    flex-grow: 1;
  }
  
  .gridLogin {
    height: 100%;
  }
  .bgColor {
    background-color: #c0050b;
    border: none;
  }
  
  .textLogin {
    color: white;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .textUser {
    color: #c0050b;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 1px;
  }
  
  .textFuncionesLogin {
    color: #c0050b;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    transition: 0.05s;
    border: none;
    outline: none;
  }
  .textFuncionesLogin:hover {
    color: #c0050b;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    border: none;
    outline: none;
  }
  
  .textFuncionesLogin:focus {
    color: #000;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    border: none;
    outline: none;
  }
  .bgRayas {
    background: -moz-repeating-linear-gradient(135deg, #ffffff, #c0050b 0.5px);
    background: -webkit-repeating-linear-gradient(135deg, #ffffff, #c0050b 0.5px);
    border: none;
  }
  
  .borderNone {
    border: none;
    outline: none;
  }
  
  .hrUser {
    color: #c0050b;
    border: 1px solid #c0050b;
  }
  
  .btnEntrar {
    color: white;
    background-color: #c0050b;
    padding: 10px;
    border: 3px solid white;
    outline: 3px solid #c0050b;
    width: 9rem;
    height: 3rem;
  }
  .btnEntrar:hover {
    color: #c0050b;
    background-color: #fff;
    padding: 10px;
    border: 3px solid #c0050b;
    outline: 3px solid #fff;
    width: 9rem;
    height: 3rem;
  }
  
  .textPedidos {
    color: #c0050b;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 2rem;
  }
  .textForm {
    color: #c0050b;
    letter-spacing: 1.8px;
    font-weight: 400;
  }
  
  .textPass {
    width: 30%;
    color: #c0050b;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    left: 70%;
    margin-bottom: 1rem;
  }
  
  .borderInput {
    border-color: #c0050b;
    margin-top: 3px;
    height: 3.2rem;
  }
  
  .borderInput:focus {
    box-shadow: none;
    border-color: #000;
  }
  
  /* Responsive para dispositivos md */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #btnCarrito {
      align-self: flex-start;
    }
  
    #listaCarrito {
      width: 60vw;
    }
    .itemCarrito {
      min-height: 15vh;
    }
    /* Pagina principal */
    #bannerImg {
      height: 55vh;
      object-position: 50% 50%;
    }
  
    /*Seccion del menu*/
    .cardMenu {
      width: 48%;
    }
    .cardMenu__descContainer {
      height: 16vh;
    }
    .bebidas {
      width: 23%;
    }
    .cardMenu__precio {
      font-size: 1.7rem;
    }
    .cardMenu__btn {
      font-size: 1rem;
    }
  
    /*Seccion del carrito  */
    .itemCarrito {
      height: 20vh;
      font-size: 0.9rem;
    }
    .itemCarrito_imgContainer {
      width: 40%;
    }
    .itemCarrito__desc h5 {
      /* font-size: 1.3rem; */
      margin-top: 2vh;
    }
    .btnEliminarCarrito {
      margin-top: 1.4vh;
    }
    #popUp {
      width: 70vw;
      font-size: 1.2rem;
    }
  }
  
  /* Responsive para dispositivos sm */
  @media only screen and (max-width: 767px) {
    /*Seccion del carrito  */
    #btnCarrito {
      align-self: flex-start;
    }
    #listaCarrito {
      width: 100vw;
    }
    .itemCarrito {
      height: 23vh;
      font-size: 0.9rem;
    }
    .itemCarrito_imgContainer {
      width: 50%;
    }
    .itemCarrito__desc {
      width: 50%;
      margin-right: 1.5vw;
    }
    .itemCarrito__desc h5 {
      font-size: 1.3rem;
      margin-top: 1.5vh;
    }
    .btnEliminarCarrito {
      margin-top: 1vh;
    }
    /* Pagina principal */
    #bannerImg {
      height: 55vh;
      object-position: 50% 50%;
    }
    
    .pagPrincipal__titulo {
      font-size: 2.4rem;
    }
    .pagPrincipal__titulo:before,
    .pagPrincipal__titulo:after {
      width: 5%;
    }
    /*Seccion del menu*/
    .cardMenu {
      width: 100%;
    }
    .cardMenu__descContainer {
      height: 23vh;
    }
  
    .cardMenu__precio {
      font-size: 2rem;
    }
    .cardMenu__btn {
      font-size: 0.9rem;
    }
    .bebidas {
      width: 23%;
    }
  
    #popUp {
      width: 80vw;
    }
    #popUp__cerrar {
      font-size: 1.2rem;
    }
    #popUp p {
      font-size: 0.9rem;
    }
    #popUp__input {
      font-size: 0.8rem;
    }
  }
  
  @media (min-width: 1024px) {
    .textPass {
      width: 100%;
      position: relative;
      left: 0%;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }
  @media (min-width: 592px) {
    .textPass {
      width: 100%;
      position: relative;
      left: 0%;
    }
    .btnEntrar {
      width: 50%;
      position: relative;
      left: 25%;
    }
    .btnEntrar:hover {
      width: 50%;
      position: relative;
      left: 25%;
    }
    .borderNone {
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 591px) {
    .textPass {
      width: 100%;
      position: relative;
      left: 0%;
    }
    .btnEntrar {
      width: 100%;
    }
    .btnEntrar:hover {
      width: 100%;
    }
    .borderNone {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 300px) {
    .textPedidos {
      font-size: 1.4rem;
    }
    .textLogin {
      font-size: 1.1rem;
    }
    .textUser {
      font-size: 1.1rem;
      font-weight: 900;
    }
    .borderNone {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (min-width: 768px) {
    .textPedidos {
      font-size: 3rem;
      position: relative;
      top: 25%;
    }
  }
  