#root{
  min-height: 100vh;
	/* display: grid; */
}
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


.nav {
	width: 50%;
}

.navDivisor {
	width: calc(100% / 3);
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


/*responsive*/
@media(max-width: 767px){
	.nav {
		width: 100%;
	}
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
	.nav {
		width: 100%;
	}
  .footer-col{
    width: 100%;
}
}

/* Header */


nav{
  width: 100%;
  display: flex;
  background: #c0050b !important;
}


nav li{
  text-transform: uppercase;
}




@media (max-width: 768px){
  nav ul{
    display: flex;
    flex-direction: column;  
    justify-content:center;
  }
  
  nav ul li a{
    display: flex;
    justify-content: center;
  }
  
  nav ul li a:before{
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.logoLeno{
  object-fit: cover;
  width: 100px;
  top: 20px;
  
}

.logoLenoRojo{
  object-fit: cover;
  width: 100px;
  top: 20px;
  position: absolute;
  left: 45%;
  top: 10%;
}

.bg-footer{
  background-color: #000;
}

.text-footer{
  color: gray;
}

.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.errorImagen{
	object-fit: cover;
	height: 300px;
}

.card-leno{
  height: 400px;
}
@media(max-width: 767px){

  .card-leno{
    height: 210px;
  }

}
@media(max-width: 574px){
	.nav {
		width: 100%;
	}
  .footer-col{
    width: 100%;
}
}
